<style media="screen">
  body {
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
  }
  h2 {
    color: #4d7ead;
  }

	label {
		color: red;
		text-align: left;
	}
  input {
		text-align: center;
    width: 20%;
    height: 40px;
    background-color: #ddd;
    outline: none;
    display: inline-block;
    border: none;
  }

  #submit {
    background-color: #4d7ead;
    color: white;
  }
	#submit:hover {
	    opacity: 0.8;
	}


</style>
